html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

::-webkit-scrollbar { width: 12px; }
::-webkit-scrollbar-button { display:none; }
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track { background: #EDE9E6; }
::-webkit-scrollbar-thumb { background: #918C88; }
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/* thanks to <https://codepen.io/sdthornton/pen/wBZdXq> for material design styling */
.material {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.post-header .fa-facebook       { background-color: #3e5b98; }
.post-header .fa-instagram      { background-color: #000000; }
.post-header .fa-question       { background-color: #808080; }
.post-header .fa-reddit-alien   { background-color: #e74a1e; }
.post-header .fa-tumblr         { background-color: #45556c; }
.post-header .fa-twitter        { background-color: #4da7de; }

/* Thanks w3Schools for the tool"tip" <http://www.w3schools.com/css/css_tooltip.asp> ;D */
.tooltip { position: relative; }

.tooltip .tooltiptext {
    font-family: 'Lato', sans-serif;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 15px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    -webkit-transition:  opacity 400ms ease-in-out;
    -moz-transition-property: opacity 400ms ease-in-out;
    -o-transition-property: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
}

.tooltip:hover .tooltiptext { opacity: 1; }

.tooltip .tooltiptext.tooltip-bottom {
    top: 100%;
    left: 50%;
    margin-left: -50px;
}
/*
.tooltip .tooltiptext.tooltip-bottom::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
*/

#main-container { height: 100%; }

#feed-control { margin-top: 15px; }

#feed-container {
    margin: 0 auto 15px auto;
    max-height:85%;
    overflow-y:scroll;
    border: 1px solid #e2e1e0;
    background: #e2e1e0;
    max-width: 800px;
}

#feed-container>.post-container {
    background: #fff;
    margin: 24px 30px;
    min-width: 650px;
}

#feed-container>.post-container.post-error { text-align:center; padding: 15px; }

.post-container>.post-body,
.post-container>.post-header { border-bottom: 1px solid #ccc; }


.post-header .avator,
.post-header .actor-container,
.post-header .actor-container .actor-name,
.post-header .actor-container .actor-username {
    display:inline-block;
    text-align:left;
    margin-bottom: 0;
}

.post-header img.avator {
    height: auto;
    max-width: 64px;
    margin: 10px 15px 0 10px;
    padding: 5px 0 0 5px;
    border: 1px solid #dedede;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    overflow:hidden;
}

.post-header .actor-desc,
.post-header .actor-username,
.post-header .actor-username:visited {
    font-size: 0.8em;
    color: #888;
}

.post-header .actor-username,
.post-header .actor-username:visited {
    font-size: 0.8em;
    color: #888;
    padding-left: 10px;
    text-decoration:none;
}
.post-header .actor-username:hover,
.post-header .actor-username:active { text-decoration:underline; }

.post-header .fa,
.post-header .post-date { float:right; }

.post-header .post-date { padding: 40px 15px 0 0; color: #888; }

.post-header .fa {
    margin: 10px 10px 0 0;
    height: 36px;
    width: 36px;
    padding: 10px;
    font-size: 2em;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.post-container>.post-body {
    padding: 30px 15px 15px 15px;
    min-height: 100px;
}

.post-container>.post-body>.post-img-container {
    margin: 10px 15px;
    max-width: 200px;
    max-height: 200px;
    display: block;
    border: 1px solid transparent;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    overflow:hidden;
    -webkit-transition:  border 200ms ease-in-out;
    -moz-transition-property: border 200ms ease-in-out;
    -o-transition-property: border 200ms ease-in-out;
    transition: border 200ms ease-in-out;
}
.post-container>.post-body>.post-img-container:hover,
.post-container>.post-body>.post-img-container:active {
    border-color: #dedede;
}
.post-img-container>.post-img { width: 100%; height: 100%; }


.post-container>.post-footer {

}

.post-container>.post-footer .activity-icon {
    width: 20%;
    padding: 20px 0;
    display: inline-block;
    text-align: center;
    text-decoration:none;
}

.post-container>.post-footer .activity-icon.icon-sentiment { font-size: 1.4em; }
.post-container>.post-footer .activity-icon.icon-sentiment>.tooltiptext { font-size: initial; }

/* full disclosure: I borrowed some bootstrap colors here */
.post-container>.post-footer .activity-icon.fa-frown-o { color: #d9534f; }
.post-container>.post-footer .activity-icon.fa-meh-o   { color: #5bc0de; }
.post-container>.post-footer .activity-icon.fa-smile-o { color: #5cb85c; }

.post-container>.post-footer .activity-icon.fa-external-link,
.post-container>.post-footer .activity-icon.fa-external-link:visited { color:#000; }

.post-container>.post-footer .activity-icon.fa-external-link:hover,
.post-container>.post-footer .activity-icon.fa-external-link:active { color:#268bd2; }



@media(min-width: 550px) {  }

@media(min-width: 768px) {  }

@media(min-width: 992px) {  }

@media(min-width: 1200px) {  }
